<aside class="d-none d-md-block bg-light sidebar p-3 ">
  <h4 class="mb-3">Filters</h4>
  <div class="row">
    <div class="col">
      <select
        class="col-12 p-1 rounded-1 border border-secondary-subtle"
        [(ngModel)]="filterDropDown" (change)="onFilterChange()"
      >
        <option value="All" selected>All Categories</option>
        <option value="1">Dresses</option>
        <option value="2">Skirts</option>
        <option value="3">Accessories</option>
        <option value="4">Pants</option>
      </select>
    </div>
  </div>
  <h5 class="mt-3">Price Range</h5>
  <input type="range" class="form-range" min="100" max="1000" step="100" [(ngModel)]="range" (change)="onChangeRange()"/>
  @if(range!=0){
    <p class="fw-semibold text-primary">salary up to {{range}}</p>
  }
  <h5 class="mt-3">Brand</h5>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="brand1" />
    <label class="form-check-label" for="brand1">Brand A</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="brand2" />
    <label class="form-check-label" for="brand2">Brand B</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="brand3" />
    <label class="form-check-label" for="brand3">Brand C</label>
  </div>
</aside>
