<!-- <label class="switch">
  <input type="checkbox" [checked]="isDarkMode" (change)="toggleTheme()" />
  <span class="slider">
    <svg class="icon sun" width="24px" height="24px" aria-hidden="true">
      <circle cx="12" cy="12" r="5" fill="white"></circle>
      <line x1="12" y1="2" x2="12" y2="6" stroke="white" stroke-width="2" />
      <line x1="12" y1="18" x2="12" y2="22" stroke="white" stroke-width="2" />
      <line x1="2" y1="12" x2="6" y2="12" stroke="white" stroke-width="2" />
      <line x1="18" y1="12" x2="22" y2="12" stroke="white" stroke-width="2" />
    </svg>
    <svg class="icon moon" width="24px" height="24px" aria-hidden="true">
      <path fill="white" d="M15.1,14.9c-3-0.5-5.5-3-6-6C8.8,7.1,9.1,5.4,9.9,4c0.4-0.8-0.4-1.7-1.2-1.4C4.6,4,1.8,7.9,2,12.5c0.2,5.1,4.4,9.3,9.5,9.5c4.5,0.2,8.5-2.6,9.9-6.6c0.3-0.8-0.6-1.7-1.4-1.2C18.6,14.9,16.9,15.2,15.1,14.9z"></path>
    </svg>
  </span>
</label> -->
