<div class="container my-5 mt-5 pt-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
    <!-- Card 1 -->
    <div class="col">
      <div class="card h-100 border-0">
        <img src="https://www.w3schools.com/w3images/sandwich.jpg" class="card-img-top" alt="Food 1">
        <div class="card-body text-center">
          <h5 class="card-title">The Perfect Sandwich, A Real NYC Classic</h5>
          <p class="card-text">Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="col">
      <div class="card h-100 border-0">
        <img src="https://www.w3schools.com/w3images/steak.jpg" class="card-img-top" alt="Food 2">
        <div class="card-body text-center">
          <h5 class="card-title">Let Me Tell You About This Steak</h5>
          <p class="card-text">Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="col">
      <div class="card h-100 border-0">
        <img src="https://www.w3schools.com/w3images/cherries.jpg" class="card-img-top" alt="Food 3">
        <div class="card-body text-center">
          <h5 class="card-title">Cherries, Interrupted</h5>
          <p class="card-text">Lorem ipsum text praesent tincidunt ipsum lipsum. What else?</p>
        </div>
      </div>
    </div>
    <!-- Card 4 -->
    <div class="col">
      <div class="card h-100 border-0 ">
        <img src="https://www.w3schools.com/w3images/wine.jpg" class="card-img-top" alt="Food 4">
        <div class="card-body text-center">
          <h5 class="card-title">Once Again, Robust Wine and Vegetable Pasta</h5>
          <p class="card-text">Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
      </div>
    </div>
    <!-- Card 5 -->
    <div class="col">
      <div class="card h-100 border-0">
        <img src="https://www.w3schools.com/w3images/popsicle.jpg" class="card-img-top" alt="Food 1">
        <div class="card-body text-center">
          <h5 class="card-title">All I Need Is a Popsicle</h5>
          <p class="card-text">Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
      </div>
    </div>
    <!-- Card 6 -->
    <div class="col">
      <div class="card h-100 border-0">
        <img src="https://www.w3schools.com/w3images/salmon.jpg" class="card-img-top" alt="Food 2">
        <div class="card-body text-center">
          <h5 class="card-title">Salmon For Your Skin</h5>
          <p class="card-text">Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
      </div>
    </div>
    <!-- Card 7 -->
    <div class="col">
      <div class="card h-100 border-0">
        <img src="https://www.w3schools.com/w3images/sandwich.jpg" class="card-img-top" alt="Food 3">
        <div class="card-body text-center">
          <h5 class="card-title">The Perfect Sandwich, A Real Classic</h5>
          <p class="card-text">Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
      </div>
    </div>
    <!-- Card 8 -->
    <div class="col">
      <div class="card h-100 border-0 ">
        <img src="https://www.w3schools.com/w3images/croissant.jpg" class="card-img-top" alt="Food 4">
        <div class="card-body text-center">
          <h5 class="card-title">Le French</h5>
          <p class="card-text">Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <nav aria-label="Page navigation" class="mt-4">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link border-0 text-dark bg-transparent" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link border-0 text-dark bg-transparent" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link border-0 text-dark bg-transparent" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link border-0 text-dark bg-transparent" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link border-0 text-dark bg-transparent" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link border-0 text-dark bg-transparent" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

</div>
<!--  -->
<div class="container-fluid border border-end-0 border-start-0  py-5">
  <div class="container w-100  mx-auto text-center ">
      <div class="row gy-4">
           <h3>About Me, The Food Man</h3>
           <img src="https://www.w3schools.com/w3images/chef.jpg" alt="image" class="image-fliud w-75 mx-auto">
           <div class="row gy-2">
               <h5 class="fw-semibold">I am Who I Am!</h5>
               <span class="fst-italic">With Passion For Real, Good Food</span>
               <span>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</span>
           </div>
      </div>
 </div>
</div>
