<div class="container mt-5 pt-3">
  <h2 class=" mb-4 fs-5 ">Contact Us</h2>
  <form >
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter your name">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email">
    </div>

    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea id="message" rows="4" class="form-control" formControlName="message" placeholder="Write your message"></textarea>
    </div>

    <button type="submit" class="btn btn-primary w-100" >Send Message</button>
  </form>
</div>
