<footer>
  <div class="container-fluid p-5 ">
        <div class="row row-cols-1 row-cols-md-3  gx-5 gy-3 align-items-baseline">
            <div class="col">
                <div class="row">
                    <h3>FOOTER</h3>
                    <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <p>Powered by<a href="#" class=" text-dark"> w3.css</a></p>
                </div>
            </div>
            <div class="col ">
                <h3 class="mb-4">BLOG POSTS</h3>
                 <div class="row g-3">
                    <div class="row ">
                    <div class="d-flex align-items-center mb-3 gap-2 border-bottom p-2">
                        <img src="https://www.w3schools.com/w3images/workshop.jpg" alt="img" class="w-25">
                         <div class="content">
                             <p class="m-0">Lorem</p>
                             <p class="m-0">Sed mattis nunc</p>
                         </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="d-flex align-items-center mb-3 p-2 gap-2">
                        <img src="https://www.w3schools.com/w3images/gondol.jpg" alt="img" class="w-25">
                         <div class="content">
                             <p class="m-0">Ipsum</p>
                             <p class="m-0">Praes tinci sed</p>
                         </div>
                    </div>
                 </div>
                 </div>

            </div>
            <div class="col ">
                <div class="container-fluid mt-5">
                    <h2>POPULAR TAGS</h2>
                    <div class="row row-col-xxl-6 row-col-xl-5 row-col-md-4  row-col-sm-3">
                        <div class="col mb-3">
                            <span class="badge bg-dark text-white p-2 rounded-0">Travel</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0">New York</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0">Dinner</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0">Salmon</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0">France</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0">Drinks</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0 ">Ideas</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0">Flavors</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0">Cuisine</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0">Chicken</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0">Dressing</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0">Fried</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0">Fish</span>
                        </div>
                        <div class="col mb-3">
                            <span class="badge bg-secondary rounded-0">Duck</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
  </div>
</footer>
