<div class="container mt-5 pt-5">
  <form
    class="row w-75 m-auto shadow p-2"
    (ngSubmit)="login()"
    #loginForm="ngForm"
  >
    <div class="col-12">
      <label for="inputEmail4" class="form-label m-0 mb-1">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail4"
        #emailInput="ngModel"
        name="email"
        [(ngModel)]="user.email"
        required
        email
      />
      @if(emailInput.errors?.["required"]){
      <span class="text-danger">email is required</span>
      } @if(emailInput.errors?.["email"]){
      <span class="text-danger">enter a valid email</span>
      }
    </div>
    <div class="col-12 mt-3">
      <label for="inputPassword4" class="form-label m-0 mb-1">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword4"
        #passwordInput="ngModel"
        name="password"
        [(ngModel)]="user.password"
        required
        pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&]).{8,}$"
      />
      @if(passwordInput.errors?.["required"]){
      <span class="text-danger">password is required</span>
      } @if(passwordInput.errors?.["pattern"]){
      <span class="text-danger"
        >Password must include at least one letter ,one digit, one special
        character and at least 8 characters long.</span
      >
      }
    </div>
    <span class="text-danger">{{errormes}}</span>
    <div class="col-12 my-2 mt-4">
      <button type="submit" class="btn signin" [disabled]="loginForm.invalid">
        Login
      </button>
    </div>
  </form>
</div>
